type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "5.2 Moving Data Around"
content: '''
  # 5.2 Moving Data Around
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:31:46.291Z"
updatedAt: "2017-11-19T16:32:02.336Z"
