type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "17.3 Mini-Batch Gradient Descent"
content: '''
  # 17.3 Mini-Batch Gradient Descent
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:09:48.358Z"
updatedAt: "2017-11-19T17:10:05.370Z"
