type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "16.4 Collaborative Filtering Algorithm"
content: '''
  # 16.4 Collaborative Filtering Algorithm
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:06:16.614Z"
updatedAt: "2017-11-19T17:06:41.793Z"
