type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "10.6 Learning Curves"
content: '''
  # 10.6 Learning Curves
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:48:52.876Z"
updatedAt: "2017-11-19T16:49:05.220Z"
