type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "7.2 Cost Function"
content: '''
  # 7.2 Cost Function
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:37:05.701Z"
updatedAt: "2017-11-19T16:37:14.744Z"
