type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "6.5 Simplified Cost Function and Gradient Descent"
content: '''
  # 6.5 Simplified Cost Function and Gradient Descent
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:34:36.091Z"
updatedAt: "2017-11-19T16:34:57.304Z"
