type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "12.4 Kernels I"
content: '''
  # 12.4 Kernels I
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:54:02.337Z"
updatedAt: "2017-11-19T16:54:31.215Z"
