type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "12.3 Mathematics behind Large Margin Classification"
content: '''
  # 12.3 Mathematics behind Large Margin Classification
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:53:28.753Z"
updatedAt: "2017-11-19T16:53:57.813Z"
