type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "3.6 Inverse and Transpose"
content: '''
  # 3.6 Inverse and Transpose
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:24:56.174Z"
updatedAt: "2017-11-19T16:25:10.730Z"
