type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "12.1 Optimization Objective"
content: '''
  # 12.1 Optimization Objective
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:52:40.849Z"
updatedAt: "2017-11-19T16:53:04.037Z"
