type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "17.2 Stochastic Gradient Descent"
content: '''
  # 17.2 Stochastic Gradient Descent
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:09:15.800Z"
updatedAt: "2017-11-19T17:09:39.219Z"
