type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "15.6 Choosing What Features to Use"
content: '''
  # 15.6 Choosing What Features to Use
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:03:34.084Z"
updatedAt: "2017-11-19T17:03:47.969Z"
