type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "18.3 Getting Lots of Data and Artificial Data"
content: '''
  # 18.3 Getting Lots of Data and Artificial Data
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:11:56.966Z"
updatedAt: "2017-11-19T17:12:18.539Z"
