type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "11.4 Trading off Precision and Recall"
content: '''
  # 11.4 Trading off Precision and Recall
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:51:59.258Z"
updatedAt: "2017-11-19T16:52:19.174Z"
