type: "SNIPPET_NOTE"
folder: "5f5c2b90eac39e19b16b"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-11-18T09:12:24.350Z"
updatedAt: "2017-11-18T09:12:34.004Z"
