type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "4.2 Gradient Descent for Multiple Variables"
content: '''
  # 4.2 Gradient Descent for Multiple Variables
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:25:35.334Z"
updatedAt: "2017-11-19T16:26:02.893Z"
