type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "5.6 Vectorization"
content: '''
  # 5.6 Vectorization
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:32:56.675Z"
updatedAt: "2017-11-19T16:33:07.295Z"
