type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "11.3 Error Metrics for Skewed Classes"
content: "# 11.3 Error Metrics for Skewed Classes"
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:50:46.793Z"
updatedAt: "2017-11-19T16:51:04.750Z"
