type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "19.1 Summary"
content: '''
  # 19.1 Summary
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:13:01.456Z"
updatedAt: "2017-11-19T17:13:10.371Z"
