type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "8.4 Model Representation II"
content: '''
  # 8.4 Model Representation II
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:39:13.558Z"
updatedAt: "2017-11-19T16:39:32.547Z"
