type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "2.1 Model Representation"
content: '''
  # 2.1 Model Representation
  
  
'''
tags: [
  "model_representation"
]
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:11:11.690Z"
updatedAt: "2017-11-19T16:17:20.882Z"
