type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "12.5 Kernels II"
content: '''
  # 12.5 Kernels II
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:54:12.034Z"
updatedAt: "2017-11-19T16:54:24.549Z"
