type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "7.1 the Problem of Overfitting"
content: '''
  # 7.1 the Problem of Overfitting
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:36:19.341Z"
updatedAt: "2017-11-19T16:37:02.879Z"
