type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "14.2 Motivation II - Visualization"
content: '''
  # 14.2 Motivation II - Visualization
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:57:58.138Z"
updatedAt: "2017-11-19T16:58:18.839Z"
