type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "17.4 Stochastic Gradient Descent Convergence"
content: '''
  # 17.4 Stochastic Gradient Descent Convergence
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:10:11.736Z"
updatedAt: "2017-11-19T17:10:40.082Z"
