type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "4.8 Working on and Submitting Programming Exercises"
content: '''
  # 4.8 Working on and Submitting Programming Exercises
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:30:15.170Z"
updatedAt: "2017-11-19T16:30:59.854Z"
