type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "14.1 Motivation I - Data Compression"
content: '''
  # 14.1 Motivation I - Data Compression
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:57:31.146Z"
updatedAt: "2017-11-19T16:57:55.382Z"
