type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "2.5 Gradient Descent"
content: '''
  # 2.5 Gradient Descent
  
  
'''
tags: [
  "gradient_descent"
]
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:18:25.735Z"
updatedAt: "2017-11-19T16:18:58.329Z"
