type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "13.5 Choosing the Number of Clusters"
content: '''
  # 13.5 Choosing the Number of Clusters
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:57:14.060Z"
updatedAt: "2017-11-19T16:57:27.374Z"
