type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "10.1 Deciding What to Try Next"
content: '''
  # 10.1 Deciding What to Try Next
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:44:33.679Z"
updatedAt: "2017-11-19T16:45:09.140Z"
