type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "16.1 Problem Formulation"
content: '''
  # 16.1 Problem Formulation
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:05:15.152Z"
updatedAt: "2017-11-19T17:05:27.344Z"
