type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "6.1 Classification"
content: '''
  # 6.1 Classification
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:33:10.707Z"
updatedAt: "2017-11-19T16:33:25.610Z"
