type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "8.3 Model Representation I"
content: '''
  # 8.3 Model Representation I
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:38:47.141Z"
updatedAt: "2017-11-19T16:39:07.209Z"
