type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "5.3 Computing on Data"
content: '''
  # 5.3 Computing on Data
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:32:04.571Z"
updatedAt: "2017-11-19T16:32:16.142Z"
