type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "15.8 Anomaly Detection Using the Multivariate Gaussian Distribution"
content: '''
  # 15.8 Anomaly Detection Using the Multivariate Gaussian Distribution
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:04:27.951Z"
updatedAt: "2017-11-19T17:05:08.912Z"
