type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "10.5 Regularization and Bias/Variance"
content: '''
  # 10.5 Regularization and Bias/Variance
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:47:20.029Z"
updatedAt: "2017-11-19T16:48:46.277Z"
