type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "10.4 Diagnosing Bias vs Variance"
content: '''
  # 10.4 Diagnosing Bias vs Variance
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:46:37.152Z"
updatedAt: "2017-11-19T16:47:06.636Z"
