type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "2.3 Cost Function - Intuition I"
content: '''
  # 2.3 Cost Function - Intuition I
  
  
'''
tags: [
  "cost_function"
]
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:11:48.932Z"
updatedAt: "2017-11-19T16:17:38.720Z"
