type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "16.3 Collaborative Filtering"
content: '''
  # 16.3 Collaborative Filtering
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:05:55.527Z"
updatedAt: "2017-11-19T17:06:10.161Z"
