type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "14.7 Advice for Applying PCA"
content: '''
  # 14.7 Advice for Applying PCA
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T17:00:39.198Z"
updatedAt: "2017-11-19T17:00:58.647Z"
