type: "MARKDOWN_NOTE"
folder: "1cd0903d6333c889a31e"
title: "8.5 Examples and Intuitions I"
content: '''
  # 8.5 Examples and Intuitions I
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T16:39:37.958Z"
updatedAt: "2017-11-19T16:39:59.785Z"
